body {
    background-color: #111111;
    color: white;
}

hr {
    border-color: white;
}

#box {
    background-color: orange;
}

textarea {
    min-height: 400px;
}

#message-body {
    white-space: pre-wrap;
}


#emails-view > div {
    border: 1px solid grey;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 2fr;
}

#emails-view > div > div  {
    /* border: 1px solid; */
    padding: 10px;
}

.button { 
    margin: 5px 10px 10px 0px;
    padding: 5px 17px 5px 17px;
    border-radius: 20px;
    border: 1px solid #3395eb;
    background-color: #3395eb;
    color: black;
}

.btn {
    background-color: #3395eb;
    color: black;
    border: grey;
}


#read {
    background-color: #333333;
}

#time {
    margin-right: 0;
    margin-left: auto;
    color: #a0a0a0;
}

#mail {
    background-color: #777777;
}

.button-container {
    display: flex;
}
